:host {
  display: flex;
  flex-direction: column;
  justify-content: start;
  mat-toolbar {
    .icon {
      margin-right: 8px;
      color: #EC0000;
    }
  }
  .page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 1rem;
  }
}
